QDRANT_URL=https://709ad122-81be-4c68-9243-958661d7e9ad.sa-east-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIiwic3ViamVjdCI6ImFwaS1rZXk6ZTZmYmU4MTItNDQzOS00NmU3LWI1N2EtOWQxZDY5YWZlMjQxIn0.PCRVNUHtxlczXaQqP57EPvucVbDNeEuYgW9IplYDUt4
OPENAI_API_KEY=your-openai-api-key
